@import "tailwindcss";
@import "@nuxt/ui";

@font-face {
    font-family: "DUMERO";
    src: url("../fonts/DUMERO.otf") format("opentype");
}

@font-face {
    font-family: "Maloney";
    src: url("../fonts/Maloney.woff") format("woff");
}